html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

#myTextBox {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  border-width: medium;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #9a9671;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

.btn1 {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
  margin: 10px auto;
  padding: 10px 10px;
  cursor: pointer; 
}

.btn1:hover {
  transition: 0.2s ;
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
  cursor: pointer; 
}


.btn a {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 120px;
	height: 35px;
	color: #333;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	transition: 0.3s;
}

.btn a:hover {
	color: #f2f2f2;
}


.btn06 a::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 20px;
	transform: rotate(45deg) translateY(-50%);
	width: 6px;
	height: 6px;
	border-width: 2px 2px 0 0;
	border-style: solid;
	border-color: #333;
}

.btn06 a:hover {
	background-color: #B99b00;
	border: 1px solid #333;
}

.btn06 a:hover::after {
	border-color: #f2f2f2 #f2f2f2 transparent transparent;
}


.hidden {
  display: none;
}

/* ポップアップメッセージを画面の上の中央に配置して透明にする */
#btn4-text {
  height: 72px;
  padding: 8px 16px;
  border-radius: 8px;
  background: rgba(70, 171, 82, 0.5); /* 透明な背景色を指定 */
  font-weight: bold;
  text-align: center;
  line-height: 72px;
  position: fixed;
  top: 50%; /* 上端を画面の中央に配置 */
  left: 50%; /* 左端を画面の中央に配置 */
  transform: translate(-50%, -50%); /* 中央揃え */
}



/* ポップアップアニメーションを3秒かけて実行 */
.popup-message {
  animation: popup 3s forwards;
}

@keyframes popup {
  0% {
    transform: translateY(15%);
    opacity: 0;
  }
  10%, 90% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: translateY(15%);
    opacity: 0;
    pointer-events: none;
  }
}

